body, html {
	margin: 0;
	color:  rgba(21, 0, 0, 1);
	font-family: 'Lato', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

h1, h2, h3 {
	font-family: 'Cabin', sans-serif;
	letter-spacing: .05em;
}

p, li {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
  line-height: 1.5em;
}

section, header, footer {
	display: block;
}

section {
	background-color: rgba(239,240,242,1);
}

.banner {
	position: relative;
}

.banner_bar {
	position: absolute;
	z-index: 1;
	width: 100%;
    top: 0;
    overflow: hidden;
}

#banner_blur {
	position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
	background-color: rgba(50,50,50,.6);
	width: 125%;
	height: 125%;
	left: -25px;  
	right: 0;
	top: -25px;   
	bottom: 0;
	filter: url('data:image/svg+xml;utf8,<svg class="shadow" xmlns="http://www.w3.org/2000/svg" version="1.1"><defs><filter id="f1"><feGaussianBlur in="SourceGraphic" stdDeviation="5" /></filter></defs><polygon points="200,0 200,200 0,200" filter="url(%23f1)"/></svg>');
	filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10);
	-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

#banner_content {
	align-items: center;
	position: relative;
	z-index: 100;
    display: flex;
    justify-content: space-between;
    color:  rgba(240,241,243, 1);
	padding-left: 25px;
    padding-right: 25px;
}

.banner_image {
	position: relative;
	z-index: -1;
	width: 100%;
	
}

.banner_address {
	font-size: 1.7em;
}

.bar_btn {
  cursor: pointer; 
  border-width: 0;
  color: rgba(50,50,50, 1);
  background-color: rgba(239,240,242,1);
  outline: none;
  border-radius: 20px;
  font-size: 1em;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  display:block;
} 

.about, .gallery, footer {
	padding: 50px 10% 50px 10%;
}

.about_details {
	list-style: none;
	display: flex;
	padding: 0px;
	justify-content: center;
	margin-bottom: 75px; 
}

.about_details > li {
	font-size: 1.3em;
	color: rgba(50,50,50, .8);
	padding: 0px 50px 0px 50px; 
	border-style: solid;
	border-width: 0px 2px 0px 0px;
	border-color: rgba(50,50,50, .6);
}

.about_details > *:first-child {
	border-style: solid;
	border-width: 0px 2px 0px 2px;
}

.video, .location {
  width: 100%    !important;
  height: auto   !important;
  padding: 0;
}

.location_map {
	width: 100%    !important;
	min-height: 600px;
	pointer-events: none;
}

.video {
	max-height: 700px;
}

.location_map {
	max-height: 600px;
}

.gallery{
	padding-bottom: 100px;
}

.gallery{
	padding-bottom: 100px;
}

.hes-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
}

.hes-gallery img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

.contact {
	display: flex;
	justify-content: space-between;
}

.portrait {
	border-radius: 50%;
	max-width: 200px;
}

.logo {
	max-width: 200px;
}

.contact > ul {
	padding: 0;
	list-style: none;
	color: rgba(50,50,50, 1);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.contact ul li {
	font-size: 1.1em;
}

@media screen and (max-width: 750px) {
	.about_details,	.contact {
		flex-direction: column;
		margin: 20px;
	}

	.about_details {
		width: 50%;
		margin: auto;
		margin-bottom: 50px; 
	}

	.about_details > li {
		padding: 5px 5px 5px 5px; 
		border-style: solid;
		text-align: center;
		border-width: 0px 0px 2px 0px;
	}

	.about_details > *:first-child {
		border-style: solid;
		border-width: 2px 0px 2px 0px;
	}

	.hes-gallery {
		display: flex;
		flex-direction: column;
	}

	.hes-gallery img {
		margin: 20px;
	}

	.contact > ul {
		max-width: 200px;
	}

	.logo {
		order: 3;
	}

	.contact img, .contact ul {
		margin: auto;
		padding: 10px;
	}
}




